.header .navigation {
    margin-top: 20px;
}

.header .navigation a {
    text-decoration: none;
    color: #fdf7f7;
    padding: 0px 1px;
    border-radius: 2px;
    margin: 0 1px;
    font-size: 0.9em;

}

.header .navigation a:hover {
    background-color: #e3e6e9;
}

@keyframes bounceAndColor {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        color: #ffffff;
    }

    40% {
        transform: translateY(-30px);
        color: #cfc311;
    }

    60% {
        transform: translateY(-15px);
        color: #1cc0c0;
    }
}

.animate-title {
    animation: bounceAndColor 2s infinite;
}
